* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Suez One', serif;
  font-size: 3em;
  font-weight: 400;
  color: #000040;
}

body {
  background-color: #C2B4FF;

}

p {
  padding: 15px;
  margin: auto;
  font-size: 17px;
}

.container {
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

section {
  border: 2px solid black;
  border-radius: 10px;
  background-color: #CCFFFF ;
  width: 100%;
  height: auto;
  font-family: 'Playfair Display', serif;
  color: black;
  position: relative;
  overflow: auto;
}

#pasta {
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  width: 30%;
  margin-left: 70%; 
  font-family: 'Playfair Display', serif;
  color: #000000;
  font-weight: bold;
  font-size: 125%;
  margin-bottom: 0;
  margin-top: 0;
  padding: 7px;
  background-color: #CC99FF ;
}

#pizza {
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  width: 30%;
  margin-left: 70%;
  font-family: 'Playfair Display', serif;
  color: #000000;
  font-weight: bold;
  font-size: 125%;
  margin-bottom: 0;
  margin-top: 0;
  padding: 7px;
  background-color: #CC99FF ;
}

#burger {
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  width: 30%;
  margin-left: 70%;
  font-family: 'Playfair Display', serif;
  color: #000000;
  font-weight: bold;
  font-size: 125%;
  margin-bottom: 0;
  margin-top: 0;
  background-color: #CC99FF ;
  padding: 7px;
}

#pasta-div {
  margin-bottom: 10px;
  margin-top: 10px;
  
}

#pizza-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

#burger-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

.navbar-brand {
  font-size: 2em;
  border: 0 0 10px 10px;
  color: #FFFFFF;
}

#header-nav {
  border: 0;
  background-color: #7E00FF;
  color: #FFFFFF;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122F;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.nav-header {
  background-color:#FF0002;
 
}

.nav-brand {
  color: #0A0909 ;
  font-size: 1.5em;
  font-weight: 700;
  font-family: 'Suez One', serif;
  text-shadow: 2px 2px 5px red;
}

#nav-list {
  color: white;
}

hr {
  border-color: white;
}

.item {
  color: white;
  font-size: 1.2em;
}
